body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    font-family: 'Open Sans';
}

input#iniciar {
    width: 45vh;
    height: 50px;
    margin: 2vh;
    border: 2px solid grey;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-size: 15pt;
    background-color: white;
}

div#jogada {
    margin: 1.5vh;
    padding: 1.5vh;
    height: 4.5vh;
    line-height: 30px;
    font-size: 15pt;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid grey;
    border-radius: 10px;
}

.wrapper {
    background-color: rgb(236, 236, 236);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 2px groove grey;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin: 2vh;
}

.button-all {
    margin-top: 0.5vh;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 30pt;
    font-family: 'Open Sans';
    background-color: white;
    width: 12vh;
    height: 12vh;
}

.button-all:hover {
    background-color: rgb(245, 245, 245);
}

input#iniciar:hover {
    background-color: rgb(245, 245, 245);
}

footer {
    text-align: center;
    width: 30%;
    margin: 2vh;
    border-top: 1px groove rgb(219, 219, 219);
    font-size: 10pt;
    padding: 0;
}